<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ShopIT</title>
<link href="bower_components/bootstrap/dist/css/bootstrap.css"
	rel="stylesheet">
</head>
<body class="container" data-ng-app="demo">

	<div class="page-header">NG validation - ex1</div>
	
	
	<div class="col-sm-6">
	
		<form name="userForm" 
		      novalidate 
		      ng-controller="UserController"
		      ng-submit="doRegister()">
		
		<div class="form-group" ng-class="{'has-error':userForm.email.$invalid&&userForm.email.$dirty}">
			<label>Email:</label>
			<input type="email" 
			       name="email" 
			       ng-model="user.email"
			       class="form-control" 
			       required
			       autofocus>
		    <div class="help-block" ng-show="userForm.email.$error.required&&userForm.email.$dirty">
		    	Email is Required
		    </div>
		    <div class="help-block" ng-show="userForm.email.$error.email&&userForm.email.$dirty">
		    	Invalid Email
		    </div>	       
		</div>
		<div class="form-group">
			<label>Name:</label>
			<input name="name" 
			       ng-model="user.name"
			       class="form-control">
		</div>
		<div class="form-group">
			<label>Age:</label>
			<input type="number"
			       name="age"
			       class="form-control"
			       required
			       min="18" max="64"
			       ng-model="user.age">
		</div>
		<div class="form-group">
			<label>Mobile:</label>
			<input 
			      type="number"
			      name="mobile"
			      class="form-control"
			      ng-model="user.mobile"
			      pattern="\d{10}">
		</div>
		
		<button type="submit" class="btn btn-primary">Register</button>
		
		<pre>
			{{userForm.email|json}}
		</pre>
			
		</form>
		
		
		
	</div>
	
	<hr />

	<script type="text/javascript"
		src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>

	<script type="text/javascript">
		var mod=angular.module('demo', []);
		mod.controller('UserController', function($scope) {
			$scope.doRegister=function(){
				console.log('submitting form....');
				if($scope.userForm.$valid){
					console.log('valid form...');
				}
			}
		});
	</script>


</body>
</html>